[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=khusba
Name[es]=khusba
GenericName=Asistente para la BBDD de Hardware USB 
GenericName[es]=Asistente para la BBDD de Hardware USB
Exec=khusba_usb_list
Comment=Asistente para la BBDD de Hardware USB
Comment[es]=Asistente para la BBDD de Hardware USB
Icon=khusba_icon
Categories=Qt;KDE;Utility;

