[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=khusba
Name[es]=Khusba
GenericName=Asistente BBDD de Hardware PCI
GenericName[es]=Asistente BBDD de Hardware PCI
Exec=kdesu -c /usr/bin/khusba_pci_list
Comment=Asistente BBDD de Hardware PCI
Comment[es]=Asistente BBDD de Hardware PCI
Icon=hwinfo
Categories=Qt;KDE;Utility;
