Package: khusba
Version: 0.1-14
Section: unknown
Priority: optional
Architecture: i386
Depends: udev, kommander, pciutils, kdelibs4c2a (>= 4:3.5.5-1), libacl1 (>= 2.2.11-1), libart-2.0-2 (>= 2.3.16), libattr1 (>= 2.4.4-1), libaudio2, libc6 (>= 2.3.2.ds1-21), libfam0c102, libfontconfig1 (>= 2.3.0), libfreetype6 (>= 2.2), libgcc1 (>= 1:4.0.2), libice6, libidn11 (>= 0.5.13), libjpeg62, libldap2 (>= 2.1.17-1), libnfsidmap1, libpng12-0 (>= 1.2.8rel), libqt3-mt (>= 3:3.3.5), libsm6, libstdc++5 (>= 1:3.3.4-1), libx11-6, libxcursor1 (>> 1.1.2), libxext6, libxft2 (>> 2.1.1), libxi6, libxinerama1, libxrandr2, libxrender1 (>= 1:0.9.0.2), libxt6, zlib1g (>= 1:1.2.1)
Installed-Size: 240
Maintainer: Tyler Maister <tyler@maister.no-ip.org>
Description: KDE Hotplug USB Advisor
 The KDE Hotplug USB Advisor. Just a little app to
 show users if their USB gadgets have been detected
 and used by system
