[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=khusba
Name[es]=khusba
GenericName=Asistente para la BBDD de Hardware PCI
GenericName[es]=Asistente para la BBDD de Hardware PCI
Exec=khusba_pci_list
Comment=Asistente para la BBDD de Hardware PCI
Comment[es]=Asistente para la BBDD de Hardware PCI
Icon=hwinfo
Categories=Qt;KDE;Utility;

